<h1>Welcom to Asset Control</h1>
<div>
<h3>【Asset Controlとは】</h3>
<p>Asset Controlは投資における“リスク管理”、“パフォーマンス評価・改善”のための手段を提供することを目的としたWebサイトです。</p>
<p>ファンダメンタル、テクニカルの両側面から、あなたの投資戦略の更なる改善を補助出来るよう運営していく方針です。</p>
<br>
</div>
<div>
<h3>【My Rule】</h3>
<p>１．私は自己資本の5%の含み損が発生した段階で全てのポジションを絶対にクローズします。</p>
<p>２．私は含み損を抱えたポジションに対してLCとなる逆指値注文を指定せず、寝ることはしません。</p>
<p>３．私はFXで人生に大切なものを失いません。家族、仕事、人生。</p>
<p>４．FXで失ったものは絶対にFXで取り返します。</p>
<p>以上</p>
</div>