<%- model_class = FxPerformance -%>
<br/>
<br/>
<div class="row">
	<div>
	  <%= high_chart("usejpy_risk", @usdjpy_term_risk_graph) %>
	</div>
	<div>
	  <%= high_chart("eurjpy_risk", @eurjpy_term_risk_graph) %>
	</div>
	<div>
	  <%= high_chart("usdeur_risk", @usdeur_term_risk_graph) %>
	</div>
</div>
