<footer class="footer">
  <nav>
    <div style="text-align: center">Copyright © Asset control All rights reserved.</div>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Help", '#' %></li>
    </ul>
  </nav>
</footer>